<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - FRIGID</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-css.css') }}">
    {% block additional_styles %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">FRIGID</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link {% if active_page == 'map' %}active{% endif %}">Map</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link {% if active_page == 'about' %}active{% endif %}">About</a>
                </li>
                <li class="nav-item">
                    <a href="/data" class="nav-link {% if active_page == 'data' %}active{% endif %}">Data</a>
                </li>
                <li class="nav-item">
                    <a href="/rights" class="nav-link {% if active_page == 'rights' %}active{% endif %}">Know Your Rights</a>
                </li>
                <li class="nav-item">
                    <a href="/report" class="nav-link {% if active_page == 'rights' %}active{% endif %}">Submit a Report</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <header class="header">
        <div class="container">
            <h1><strong>F</strong>etching <strong>R</strong>eliable <strong>I</strong>nstances of <strong>G</strong>enuine <strong>I</strong>CE <strong>D</strong>etainments</h1>
        </div>
    </header>
    
    {% block content %}{% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    {% block additional_scripts %}{% endblock %}
</body>
</html>
